---
version: "3"
services:
 db:
   image: ramyakolla3702/pythonlibrary:dbimage
   ports:
     - "3306:3306"
   deploy:
       replicas: 3



  auth_service:
   image: ramyakolla3702/pythonlibrary:authimage
   ports:
     - "5001:5001"
   deploy:
      replicas: 2

  book_service:
   image: ramyakolla3702/pythonlibrary:bookimage
   ports:
     - "5002:5002"
   deploy:
      replicas: 2

  borrow_service:
   image: ramyakolla3702/pythonlibrary:borrowimage
   ports:
     - "5003:5003"
   deploy:
      replicas: 2

  frontend:
   image: ramyakolla3702/pythonlibrary:appimage
   ports:
     - "5000:5000"
   deploy:
      replicas: 2

   depends_on:
     - "db"
